{%- comment -%} Width of results box {%- endcomment -%}
{%- assign results_box_width = '300px' -%}
{%- comment -%} Background color of results box {%- endcomment -%}
{%- assign results_box_background_color = '#ffffff' -%}
{%- comment -%} Border color of results box {%- endcomment -%}
{%- assign results_box_border_color = '#cccccc' -%}

<script>
 $(function(){var t=null;$('form[action="/search"]').css("position","relative").each(function(){var s=$(this).find('input[name="q"]'),a=s.position().top+s.innerHeight();$('<ul class="search-results home-two"></ul>').css({position:"absolute",left:"0px",top:a}).appendTo($(this)).hide(),s.attr("autocomplete","off").bind("keyup change",function(){var s=$(this).val(),a=$(this).closest("form"),e="/search?type=product&q="+s,n=a.find(".search-results");s.length>3&&s!=$(this).attr("data-old-term")&&($(this).attr("data-old-term",s),null!=t&&t.abort(),t=$.getJSON(e+"&view=json",function(t){n.empty(),0==t.results_count?n.hide():($.each(t.results,function(t,s){var a=$("<a></a>").attr("href",s.url);a.append('<span class="thumbnail"><img src="'+s.thumbnail+'" /></span>'),a.append('<span class="title">'+s.title+"</span>"),a.wrap("<li></li>"),n.append(a.parent())}),t.results_count>10&&n.append('<li><span class="title"><a href="'+e+'">See all results ('+t.results_count+")</a></span></li>"),n.fadeIn(100))}))})});$("body").bind("click",function(){$(".search-results").hide()})});
</script>

<style>
  .search-results {z-index: 8889;list-style-type: none;   width: {{ results_box_width }};margin: 0;padding: 0;background: {{ results_box_background_color }};border: 1px solid {{ results_box_border_color }};border-radius: 0px;-webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);overflow: hidden;}.search-results li {display: block;width: 100%;height: 38px;margin: 0;padding: 0;border-top: 1px solid {{ results_box_border_color }};line-height: 38px;overflow: hidden;}.search-results li:first-child{border-top:none}.search-results .title{float:left;width:{};}.search-results .thumbnail{float:left;display:block;width:32px;height:32px;margin:3px 0 3px 3px;padding:0;text-align:center;overflow:hidden;border-radius:0}
</style>
