/* large desktop :1366px. */

@media (min-width: 1200px) and (max-width: 1500px) {
    .comming-soon-area-2 {
        padding: 200px 0 70px;
    }
    .subscribe-area.subscribe-style-2 {
        margin-top: 70px;
    }
    .comming-soon-area-2 .comming-soon-top {
        margin: 0 0 50px;
    }
    .comming-soon-area-2 .comming-soon-top h3 {
        margin: 0 0 20px;
    }
    #background-3 {
        transform: translateX(420px) translateY(150px);
    }
    #background-1 {
        transform: translateX(110px) translateY(275px);
    }
    #background-2 {
        transform: translateX(230px) translateY(170px);
    }
    #background-5 {
        transform: translateX(540px) translateY(260px);
    }
    #background-6 {
        height: 409px;
        transform: translateX(672px) translateY(35px);
    }
    #background-12 {
        height: 365px;
        transform: translateX(635px) translateY(136px);
    }
    #background-4 {
        transform: translateX(282px) translateY(445px);
    }
    .pt-560 {
        padding-top: 320px;
    }
    .pb-405 {
        padding-bottom: 210px;
    }
    #background-10 {
        height: 557px;
        transform: translateX(170px) translateY(70px);
    }
    #background-7 {
        transform: translateX(0px) translateY(260px);
    }
    #background-11 {
        height: 420px;
        transform: translateX(450px) translateY(128px);
    }
    #background-13 {
        height: 100px;
        transform: translateX(75px) translateY(95px);
    }
    #background-14 {
        height: 120px;
        transform: translateX(515px) translateY(60px);
    }
    #background-15 {
        height: 150px;
        transform: translateX(870px) translateY(0px);
    }
    #background-16 {
        height: 90px;
        transform: translateX(845px) translateY(162px);
    }
    #background-17 {
        height: 234px;
        transform: translateX(966px) translateY(327px);
    }
    #background-18 {
        height: 170px;
        transform: translateX(230px) translateY(661px);
    }
    #background-19 {
        transform: translateX(84px) translateY(325px);
    }
    .comming-soon-area-2 .comming-soon-top > p {
        width: 85%;
    }
    .construction-wrap.pt-410 {
        padding-top: 278px;
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1199px) {
    .DateCountdown .time_circles > div {
        margin-top: 60px;
    }
    .comming-soon-top > p {
        width: 85%;
    }
    .comming-soon-area-2 {
        padding: 150px 0 30px;
    }
    .subscribe-style-2.mt-110 {
        margin-top: 70px;
    }
    .comming-soon-area-2 .comming-soon-top h3 {
        margin: 0 0 25px;
    }
    .comming-soon-area-2 .comming-soon-top {
        margin: 0 0 25px;
    }
    .comming-soon-area-2.comming-soon-white {
        padding: 60px 0;
    }
    .construction-content {
        padding-left: 30px;
    }
    .construction-content h1 {
        font-size: 75px;
    }
    #background-1 {
        height: 64px;
        transform: translateX(10px) translateY(220px);
    }
    #background-2 {
        height: 22px;
        transform: translateX(105px) translateY(168px);
    }
    #background-3 {
        height: 78px;
        transform: translateX(220px) translateY(55px);
    }
    #background-5 {
        height: 17px;
        transform: translateX(340px) translateY(193px);
    }
    #background-6 {
        height: 320px;
        transform: translateX(455px) translateY(42px);
    }
    #background-12 {
        height: 250px;
        transform: translateX(435px) translateY(120px);
    }
    #background-4 {
        transform: translateX(120px) translateY(360px);
    }
    .construction-content-2.pl-510 {
        padding-left: 300px;
    }
    .pb-405 {
        padding-bottom: 260px;
    }
    .pt-560 {
        padding-top: 300px;
    }
    #background-7 {
        height: 45px;
        transform: translateX(24px) translateY(220px);
    }
    #background-10 {
        height: 480px;
        transform: translateX(10px) translateY(80px);
    }
    .construction-content-2 h3 {
        font-size: 40px;
        margin: 0 0 5px;
    }
    .construction-content-2 h1 {
        font-size: 40px;
    }
    #background-8 {
        height: 45px;
        transform: translateX(335px) translateY(45px);
    }
    #background-9 {
        height: 45px;
        transform: translateX(693px) translateY(130px);
    }
    #background-11 {
        height: 277px;
        transform: translateX(315px) translateY(169px);
    }
    #background-13 {
        height: 90px;
        transform: translateX(20px) translateY(70px);
    }
    #background-14 {
        height: 100px;
        transform: translateX(420px) translateY(50px);
    }
    #background-15 {
        height: 140px;
        transform: translateX(770px) translateY(0px);
    }
    #background-16 {
        height: 90px;
        transform: translateX(635px) translateY(175px);
    }
    #background-17 {
        height: 220px;
        transform: translateX(866px) translateY(300px);
    }
    #background-18 {
        height: 170px;
        transform: translateX(470px) translateY(548px);
    }
    #background-19 {
        height: 250px;
        transform: translateX(38px) translateY(335px);
    }
    .comming-soon-top h3 {
        margin: 29px 0 20px;
    }
    .subscribe-area.mt-110 {
        margin-top: 70px;
    }
    .comming-soon-area-2 .comming-soon-top > p {
        width: 88%;
    }
    .construction-wrap.pt-410 {
        padding-top: 210px;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .DateCountdown .time_circles > div > span {
        font-size: 50px !important;
    }
    .DateCountdown .time_circles > div {
        margin-top: 50px;
    }
    .DateCountdown .time_circles > div > h4 {
        margin: 64px 0 0;
    }
    .comming-soon-top > p {
        width: 82%;
    }
    .comming-soon-area-2 {
        padding: 70px 0 30px;
    }
    .DateCountdownTwo .time_circles > div {
        margin-top: 28px;
    }
    .DateCountdownTwo .time_circles > div > span {
        height: 116px;
        width: 116px;
    }
    .subscribe-style-2.mt-110 {
        margin-top: 70px;
    }
    .comming-soon-area-2 .comming-soon-top h3 {
        margin: 0 0 20px;
    }
    .comming-soon-area-2 .comming-soon-top {
        margin: 0 0 25px;
    }
    .subscribe-style-2.mt-110 {
        margin-top: 50px;
    }
    .subscribe-area.mt-110 {
        margin-top: 70px;
    }
    .comming-soon-top h3 {
        margin: 40px 0 20px;
    }
    .construction-content {
        padding-left: 0;
    }
    .construction-content h1 {
        font-size: 60px;
    }
    .construction-content h3 {
        font-size: 40px;
    }
    #background-1 {
        height: 30px;
        transform: translateX(-17px) translateY(220px);
    }
    #background-2 {
        transform: translateX(30px) translateY(128px);
    }
    #background-3 {
        height: 60px;
        transform: translateX(170px) translateY(55px);
    }
    #background-4 {
        transform: translateX(25px) translateY(330px);
    }
    #background-5 {
        transform: translateX(218px) translateY(193px);
    }
    #background-6 {
        height: 320px;
        transform: translateX(311px) translateY(26px);
    }
    #background-12 {
        height: 250px;
        transform: translateX(294px) translateY(103px);
    }
    .construction-content-2.pl-510 {
        padding-left: 253px;
    }
    .pb-405 {
        padding-bottom: 230px;
    }
    .pt-560 {
        padding-top: 270px;
    }
    #background-7 {
        height: 45px;
        transform: translateX(24px) translateY(220px);
    }
    #background-10 {
        height: 400px;
        transform: translateX(10px) translateY(95px);
    }
    .construction-content-2 h3 {
        font-size: 35px;
        margin: 0 0 5px;
        line-height: 30px;
    }
    .construction-content-2 h1 {
        font-size: 35px;
    }
    #background-8 {
        height: 45px;
        transform: translateX(175px) translateY(45px);
    }
    #background-9 {
        height: 45px;
        transform: translateX(420px) translateY(130px);
    }
    #background-11 {
        height: 277px;
        transform: translateX(205px) translateY(169px);
    }
    #background-13 {
        height: 60px;
        transform: translateX(20px) translateY(70px);
    }
    #background-14 {
        height: 60px;
        transform: translateX(350px) translateY(50px);
    }
    #background-15 {
        height: 127px;
        transform: translateX(640px) translateY(0px);
    }
    #background-16 {
        height: 54px;
        transform: translateX(572px) translateY(175px);
    }
    #background-17 {
        height: 185px;
        transform: translateX(650px) translateY(380px);
    }
    #background-18 {
        height: 130px;
        transform: translateX(338px) translateY(494px);
    }
    #background-19 {
        height: 160px;
        transform: translateX(38px) translateY(335px);
    }
    .comming-soon-area {
        padding: 40px 0;
    }
    .construction-area {
        min-heigh: 100vh;
    }
    .comming-soon-area-2 {
        min-height: 100vh;
    }
    .comming-soon-area-2 .comming-soon-top > p {
        width: 88%;
    }
    .construction-wrap.pt-410 {
        padding-top: 188px;
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .comming-soon-top h3 {
        letter-spacing: 0px;
    }
    .comming-soon-top > p {
        width: 98%;
    }
    .DateCountdown .time_circles > div > span {
        font-size: 26px !important;
        margin-top: 12px;
    }
    .DateCountdown .time_circles > div {
        margin-top: 0px;
    }
    .DateCountdown .time_circles > div > h4 {
        font-size: 16px !important;
        margin: 25px 0 0;
    }
    .comming-soon-top h3 {
        margin: 30px 0 20px;
    }
    .comming-soon-top {
        margin: 0 0 30px;
    }
    .subscribe-area.mt-110 {
        margin-top: 50px;
    }
    .subscribe-area > h4 {
        letter-spacing: 0;
    }
    .subscribe-form form .clear input {
        padding: 2px 25px 2px 18px;
    }
    .subscribe-form form input {
        padding: 2px 117px 2px 20px;
    }
    .comming-soon-area.youtube-bg {
        padding: 40px 0!important;
    }
    .comming-soon-area-2 {
        padding: 50px 0 30px;
    }
    .DateCountdownTwo .time_circles > div {
        margin-top: 11px;
    }
    .DateCountdownTwo .time_circles > div > span {
        height: 45px;
        width: 45px;
    }
    .subscribe-style-2.mt-110 {
        margin-top: 30px;
    }
    .DateCountdownTwo .time_circles > div > span {
        font-size: 18px !important;
    }
    .subscribe-area.subscribe-style-2 > h4 {
        margin: 0 0 10px;
    }
    .comming-soon-area-2 .comming-soon-top h3 {
        margin: 0 0 15px;
    }
    .comming-soon-area-2 .comming-soon-top {
        margin: 0 0 20px;
    }
    .DateCountdownTwo .time_circles > div > h4 {
        font-size: 16px !important;
        margin: 25px 0 0;
    }
    .construction-content {
        padding-left: 0;
    }
    .construction-content h1 {
        font-size: 30px;
        line-height: 28px;
    }
    .construction-content h3 {
        font-size: 30px;
        line-height: 25px;
        margin: 0 0 7px;
    }
    #background-1 {
        transform: translateX(10px) translateY(220px);
    }
    #background-2 {
        transform: translateX(20px) translateY(140px);
    }
    #background-3 {
        height: 60px;
        transform: translateX(60px) translateY(65px);
    }
    #background-4 {
        transform: translateX(0px) translateY(285px);
    }
    #background-5 {
        transform: translateX(105px) translateY(170px);
    }
    #background-6 {
        height: 155px;
        transform: translateX(157px) translateY(140px);
    }
    #background-12 {
        height: 126px;
        transform: translateX(142px) translateY(172px);
    }
    .construction-content-2.pl-510 {
        padding-left: 118px;
    }
    .pb-405 {
        padding-bottom: 120px;
    }
    .pt-560 {
        padding-top: 240px;
    }
    #background-7 {
        height: 30px;
        transform: translateX(0px) translateY(120px);
    }
    #background-10 {
        height: 195px;
        transform: translateX(0px) translateY(148px);
    }
    .construction-content-2 h3 {
        font-size: 20px;
        line-height: 22px;
        margin: 0 0 5px;
    }
    .construction-content-2 h1 {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 26px;
    }
    #background-8 {
        height: 45px;
        transform: translateX(55px) translateY(35px);
    }
    #background-9 {
        height: 30px;
        transform: translateX(140px) translateY(100px);
    }
    #background-11 {
        height: 152px;
        transform: translateX(0px) translateY(140px);
    }
    #background-13 {
        height: 30px;
        transform: translateX(20px) translateY(20px);
    }
    #background-14 {
        height: 35px;
        transform: translateX(200px) translateY(20px);
    }
    #background-15 {
        height: 50px;
        transform: translateX(290px) translateY(0px);
    }
    #background-16 {
        height: 38px;
        transform: translateX(175px) translateY(132px);
    }
    #background-17 {
        height: 70px;
        transform: translateX(295px) translateY(212px);
    }
    #background-18 {
        height: 85px;
        transform: translateX(215px) translateY(423px);
    }
    #background-19 {
        height: 120px;
        transform: translateX(15px) translateY(238px);
    }
    .comming-soon-area {
        padding: 40px 0;
    }
    .construction-area {
        min-height: 100vh;
    }
    .comming-soon-area-2 {
        min-height: 100vh;
    }
    .subscribe-form form input {
        height: 50px;
    }
    .subscribe-form form .clear::before {
        height: 29px;
    }
    .construction-wrap.pt-410 {
        padding-top: 215px;
    }
    .mtxs-50{
      margin-top: 50px
    }
  	.comming-soon-top .logo {
        margin-bottom: 30px;
    }
}


/* Large Mobile :480px. */

@media (max-width: 575px) {
    .container {
        width: 300px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .DateCountdown .time_circles > div {
        margin-top: 26px;
    }
    .DateCountdown .time_circles > div > h4 {
        font-size: 16px !important;
        margin: 50px 0 0;
    }
    .comming-soon-top > p {
        width: 100%;
    }
    .comming-soon-area-2 {
        padding: 60px 0 60px;
    }
    .DateCountdownTwo .time_circles > div {
        margin-top: 21px;
    }
    .DateCountdownTwo .time_circles > div > span {
        height: 85px;
        width: 85px;
    }
    .subscribe-style-2.mt-110 {
        margin-top: 50px;
    }
    .DateCountdownTwo .time_circles > div > span {
        font-size: 28px !important;
    }
    .subscribe-area.subscribe-style-2 > h4 {
        margin: 0 0 15px;
    }
    .comming-soon-area-2 .comming-soon-top h3 {
        margin: 0 0 15px;
    }
    .comming-soon-area-2 .comming-soon-top {
        margin: 0 0 20px;
    }
    .construction-content {
        padding-left: 0;
    }
    .construction-content h1 {
        font-size: 50px;
    }
    .construction-content h3 {
        font-size: 40px;
        margin: 0 0 15px;
    }
    #background-1 {
        transform: translateX(10px) translateY(220px);
    }
    #background-2 {
        transform: translateX(21px) translateY(130px);
    }
    #background-3 {
        height: 60px;
        transform: translateX(90px) translateY(95px);
    }
    #background-4 {
        transform: translateX(10px) translateY(305px);
    }
    #background-5 {
        transform: translateX(183px) translateY(172px);
    }
    #background-6 {
        height: 236px;
        transform: translateX(260px) translateY(90px);
    }
    #background-12 {
        height: 174px;
        transform: translateX(244px) translateY(148px);
    }
    .construction-content-2.pl-510 {
        padding-left: 185px;
    }
    .pb-405 {
        padding-bottom: 120px;
    }
    .pt-560 {
        padding-top: 270px;
    }
    #background-7 {
        height: 45px;
        transform: translateX(24px) translateY(220px);
    }
    #background-10 {
        height: 310px;
        transform: translateX(0px) translateY(120px);
    }
    .construction-content-2 h3 {
        font-size: 30px;
        margin: 0 0 5px;
        line-height: 30px;
    }
    .construction-content-2 h1 {
        font-size: 30px;
    }
    #background-8 {
        height: 45px;
        transform: translateX(100px) translateY(45px);
    }
    #background-9 {
        height: 45px;
        transform: translateX(330px) translateY(90px);
    }
    #background-11 {
        height: 240px;
        transform: translateX(65px) translateY(140px);
    }
    #background-13 {
        height: 60px;
        transform: translateX(20px) translateY(70px);
    }
    #background-14 {
        height: 60px;
        transform: translateX(250px) translateY(30px);
    }
    #background-15 {
        height: 127px;
        transform: translateX(442px) translateY(0px);
    }
    #background-16 {
        height: 54px;
        transform: translateX(340px) translateY(161px);
    }
    #background-17 {
        height: 145px;
        transform: translateX(445px) translateY(312px);
    }
    #background-18 {
        height: 130px;
        transform: translateX(338px) translateY(494px);
    }
    #background-18 {
        height: 108px;
        transform: translateX(260px) translateY(435px);
    }
    #background-19 {
        height: 175px;
        transform: translateX(15px) translateY(300px);
    }
}